:root {
	--bg: #232323;
	--bg2: #333;
	--bg3: #444;
	--fg: #aaa;

	--border: 4px outset var(--bg3);
}

.box {
	background: var(--bg2);
	border: var(--border);
	padding: 0.5rem;
}

body {
	background: var(--bg);
	color: var(--fg);

	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	margin: 0;
	text-align: center;
}

h1 {
	grid-area: header;
	background: var(--bg2);
	border-bottom: var(--border);
}

main {
	flex: 1 1;
	padding: 1rem;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr max-content;
	grid-template-areas:
		"input  output"
		"button output";
	grid-gap: 1rem;
}

.input-container {
	grid-area: input;
	display: flex;
	flex-direction: column;
}

#input {
	flex: 1 1;
	margin: 0;
	padding: 0.5rem;

	border: var(--border);
	border-style: inset;
	background: var(--bg);

	color: inherit;
	font: inherit;
	resize: none;
}

button {
	background: var(--bg2);
	border: var(--border);
	color: inherit;
	font: inherit;
}

button:active {
	border-style: inset;
}

#rank {
	grid-area: button;
}

.output-container {
	grid-area: output;
}

#rank-dialog-container {
	background: rgba(0, 0, 0, 0.5);

	position: absolute;
	width: 100vw;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

#rank-dialog-container.closed {
	display: none;
}

#rank-buttons {
	display: flex;
	padding-top: 0.5rem;
}

#rank-buttons button {
	flex: 1 1;
}

#rank-buttons button:last-of-type {
	margin-left: 0.5rem;
}
